params {
	hu_dir = '/research_jude/rgs01_jude/groups/jxugrp/home/common/Lab_Members/WenhuoHu/'
	sra_ids = [
		"GSM5255986", "GSM5255987",
		"GSM5255988", "GSM5255989",
		"GSM5255990"
	]

	igenomes_base   = "${hu_dir}/igenomes"

	save_reference  = true

	genomes {
		'GRCh38' {
			fasta                = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
			gtf                  = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
			bowtie2		     = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/bowtie2a254/bowtie2a254" 

		}
		'mm10' {
			fasta                = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Sequence/WholeGenomeFasta/genome.fa"
			gtf                  = "${params.igenomes_base}/Mus_musculus/UCSC/mm10/Annotation/Genes/genes.gtf"
		}
	}

	genome = 'GRCh38'  
	publish_dir = "results" 

	img_dir = "${hu_dir}images/"
	img_edirect = "${params.img_dir}edirect_latest.sif"

	img_edirect 	= "${params.img_dir}edirect_latest.sif"
	img_bowtie2 	= "${params.img_dir}bowtie2_a2.5.4.sif"
	img_sratool 	= "${params.img_dir}sratoolkit_latest.sif"
	img_samtools 	= "${params.img_dir}depot.galaxyproject.org-singularity-samtools-1.21--h50ea8bc_0.img"
	img_macs2	= "${params.img_dir}depot.galaxyproject.org-singularity-macs2-2.2.7.1--py38h4a8c8d9_3.img"
	img_deeptools	= "${params.img_dir}depot.galaxyproject.org-singularity-deeptools-3.5.5--pyhdfd78af_0.img"
	img_multiqc	= "${params.img_dir}depot.galaxyproject.org-singularity-multiqc-1.25.1--pyhdfd78af_0.img"
	img_trim	= "${params.img_dir}trimmomatic_latest.sif"
	img_star 	= "${params.img_dir}nf-core-star_samtools_htslib_gawk-10c6e8c834460019.img"
	img_tecount 	= "${params.img_dir}tetranscripts.sif" 
	img_telocal 	= "${params.img_dir}telocal.sif" 
	img_gdc 	= "${params.img_dir}gdc-client_latest.sif" 
	img_picard 	= "${params.img_dir}singularity-picard-3.1.1--hdfd78af_0.img"
	img_bwa 	= "${params.img_dir}depot.galaxyproject.org-singularity-bwa-0.7.17--hed695b0_7.img"

}

profiles {

  singularity {
      enabled = true
      autoMounts = true
      runOptions = "--bind $PWD"
  }

}


process {

    executor  = 'lsf'

    cleanup = true

    withName: 'EXTRACT_SRR' {
	    cpus = 5
	    memory = '8 GB'
	    time = '10d'
    }

    withName: 'DOWNLOAD_SRA' {
	    cpus = 5
	    memory = '8 GB'
	    time = '10d'
    }

    withName: 'TRIM_ADAPTERS' {
	    cpus = 5
	    memory = '8 GB'
	    time = '10d'
    }

    withName: 'ALIGN_READS' {
	    cpus = 15
	    memory = '8 GB'
	    time = '10d'
    }

    withName: 'REMOVE_DUPLICATES' {
	    cpus = 5
	    memory = '8 GB'
	    time = '10d'
    }

    withName: 'CALL_PEAKS' {
	    cpus = 5
	    memory = '8 GB'
	    time = '10d'
    }

    withName: 'GENERATE_BIGWIG' {
	    cpus = 15
	    memory = '8 GB'
	    time = '10d'
    }

}


dag {
    overwrite = true
}

